/* NavbarComp {
  text-align: right;
  background-color: #e8e8e8;
}

FooterComp {
  text-align: center;
  background-color: #cecfcf;
}

App {
  text-align: center;
  background-color: #cecfcf;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #283433;
  color: white;
  text-align: center;
}

.hero-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 120px;
}

.hero-img {
  width: 100%;
  height: 75%;
  position: absolute;
}
.hero-text {
  width: 100px;
  position: absolute;
  top: 10%;
  right: 50%;
  left: 50%;
  color: #282c34;
}
/* .iframe-container {
}
 */
.alice-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.links {
  font-size: 20px;
  padding: 10px 10px;
  color: rgb(112, 108, 108);
  text-decoration: none;
}

.navBar {
  display: flex;

  padding-left: 40px;
}
.logo {
  width: 160px;
  height: auto;
}
.newsletter-flex {
  display: flex;
  width: 450px;
  background-color: transparent;
}
.footer-container {
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  max-height: 170px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.input-group {
  border: 2px solid #283433;
}
.newsletter-flex {
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.myClassname {
  margin-top: 50px;
}
.navbar {
  position: fixed;
  top: 0%;
}
