.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #283433;
  color: white;
  text-align: center;
}

.hero-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 100px 80px;
}

.hero-img {
  width: 100%;
  height: 75%;
  position: absolute;
}
.hero-text {
  width: 100px;
  position: absolute;
  top: 10%;
  right: 50%;
  left: 50%;
  color: #282c34;
}
/* .iframe-container {
}
 */
.alice-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.links {
  font-size: 20px;
  padding: 10px 10px;
  color: rgb(112, 108, 108);
  text-decoration: none;
}

.navBar {
  display: flex;

  padding-left: 40px;
}
.logo {
  width: 160px;
  height: auto;
}
.newsletter-flex {
  display: flex;
  width: 450px;
  background-color: transparent;
}
.footer-container {
  color: white;
  position: fixed;
  bottom: 0;
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: red;
}

.newsletter-flex {
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.myClassname {
  margin-top: 50px;
}
.navbar {
  position: fixed;
  z-index: 999;
  top: 0%;
  width: 100%;
}

.card-container {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 800px) {
  .navbar {
    z-index: 999;
  }
  .hero-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer-container {
    padding: 10px;
  }
}

.card-learn {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 350px;
  color: wheat;
  background-color: #9db1da;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  overflow-y: scroll;
  margin-bottom: 10px;
  border-radius: 8px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body {
  overflow-y: auto;
}
.seguimos {
  color: red !important;
  font-size: 20px;
  padding: 10px 30px;
  color: rgb(112, 108, 108);
  text-decoration: none;
}
